<nav class="navbar navbar-light bg-light">
    <a class="nav-link" routerLink="/productos" routerLinkActive="true">Listado de Productos</a>
    <a class="nav-link" routerLink="/productos/alta" routerLinkActive="false">Nuevo Producto</a>
    <a class="nav-link" routerLink="/busqueda" routerLinkActive="false">Buscar Producto</a>
    <a class="nav-link" routerLink="/ventas/nueva" routerLinkActive="false">Registrar venta</a>
    <a class="nav-link" routerLink="/ventas/listado" routerLinkActive="false">Listado de ventas</a>
</nav>